<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>roop</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  
	
</head>
<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/image.png}" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/users}">Users </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/categories}"> Categories </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/brands}"> Brands </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/products}"> Products </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/customers}"> Customers </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/shipping}"> Shipping </a>
						 </li> 
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/orders}"> Orders </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/report}"> Sales Report </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/articles}"> Articles </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/menus}"> Menus </a>
						 </li>
						 <li class="nav-item">
						 	<a class="nav-link" th:href="@{/settings}"> Settings </a>
						 </li>
					</ul>
				</div>
			</nav>
	    </div>  
	    <div>
		<h2>Manage Brands</h2>
		<a th:href="@{/brands/new}"> Create New Brand </a>
		</div> 
		<div th:if="${message !=null}" class="alert alert-success text-center">
		[[${message}]]
		</div>
		<div>
		<table class= "table table-bordered table-striped table-hover table-responsive-xl">
		<thead class="thead-dark"> 
		<tr>
		<th>Brand ID </th>
		<th> logo </th>
		<th> Brand Name </th>
		
		<th> Categories </th>
		
		</tr>
		</thead>
		<tbody>
		<tr th:each="brand : ${listBrands}">
		<!--  <td></td> -->
		<td>[[${brand.id}]]</td>
		<!--  <td> <img src="images/image.png" style="width:100px" class="img-fluid"/> -->
		<td></td>
		<td>[[${brand.name}]]</td>
		<td><th:block th:each="cat : ${brand.categories}">
		<span class="badge badge-secondary" th:text="${cat.name}"></span>
		</th:block>
		</td>
		
		<td><a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/brands/edit/'+ ${brand.id}}" title="Edit this Brand"></a>
		&nbsp; 
		<a class="fa-solid fa-trash fa-2x icon-dark link-delete" th:href="@{'/brands/delete/' + ${brand.id}}"
		th:userId="${brand.id}"
		 title="Delete this Brand"></a>
</td>
		</tr> 
		</tbody>
		</table>
	
</div>
<div class= "text-center">
		<p>roop Control Panel - Copyright &copy; roop<p>
		</div>

</body>
</html>
       